{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Django</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>
    <header><img src="{% static 'logo.png' %}"></header>
    <h1>Task Django</h1>
    <h3>Simplify task management with Django framework. Effortlessly organize, prioritize, and track progress.</h3>
    <div id="button"><a href="register"><button>Get Started</button></a></div>
</body>
</html>